/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  background: linear-gradient(45deg, #214A3B, #50FFB1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #a1c3ff;
}

main{
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
  margin: 2vh;
}

h1{
  text-align: center;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}